body {
  padding: 230px 50px 230px 800px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url(./winter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.clockface {
  color: #fff;
  text-align: center;
}
.title {
  font-size: 80px;
  text-transform: uppercase;
}
.field {
  display: inline-block;
  padding: 30px;
  text-transform: uppercase;
}
.label {
  display: block;
  font-size: 20px;
}
.value {
  font-size: 60px;
}
